/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

header{
    background-color: #FFF9F4;
}

body{
    margin: 0;
    padding: 0;
}

.main-section{
    padding-top: 100px;
}
.section-title{
    font-family: 'Bebas Neue',cursive;
    font-size: 48px;
    font-weight: 400;
    color: #363958;
    text-transform: uppercase;
}
.nav_font{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3C3C3C;
}
.font-custom{
    font-family: 'Bebas Neue',cursive;
    font-size: 70px;
}
.button{
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}

.button:hover{
    background: #242e8f;
}


/* Products Section CSS*/
.product-section img{
    width: 275px;
    height: 275px;
    align-self: center;
    background-color: #F1F1F1;
    margin-top: 15px;
}